MINIO_HOST=http://localhost
MINIO_PORT=9000

# Имя пользователя MinIO (пример, не реальный секрет)
MINIO_ROOT_USER=change_me

# Пароль MinIO (пример, не реальный секрет)
MINIO_ROOT_PASSWORD=change_me

# Название remote в DVC
MINIO_STORAGE_NAME=minio

# Имя бакета в MinIO
MINIO_BUCKET=dvc-demo-bucket